{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Articles</h3>
                <p class="section-description">Tataouine, anciennement appelée Foum Tataouine, est une ville du sud-est de la Tunisie située à 531 kilomètres de Tunis. Chef-lieu du gouvernorat du même nom, elle constitue une municipalité comptant 66 924 habitants en 2014.</p>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div> <a href="{{ path('media_new') }}" class="btn btn-primary mt-3 mb-3">Ajouter article</a></div>
            {% endif %}

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {% for medium in media|sort|reverse %}
                    <a href="{{ path('media_show', {'id': medium.id}) }}" class="details-link">
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <img src="{{ vich_uploader_asset(medium, 'nameFile')}}" class="img-fluid" alt="" >
                        </div>
                    </a>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    {# <table class="table">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Nom_media</th>
                 <th>Contenu</th>
                 <th>actions</th>
             </tr>
         </thead>
         <tbody>

             <tr>
                 <td>{{ medium.id }}</td>
                 <td><img src=""></td>
                 <td></td>
                 <td>
                     <a href="">show</a>
                     <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                 </td>
             </tr>
             {% else %}
                 <tr>
                     <td colspan="4">no records found</td>
                 </tr>

             </tbody>
         </table>

        #}
{% endblock %}
